body{background-color:white;margin:0;transition:background-color 1s ease;}
#titleContainer{display:flex;justify-content:center;max-width:100%;background-color:white;
padding-bottom:1%;padding-top:1%;padding-right:5%;padding-left:5%;width:fit-content;box-sizing:border-box;font-size:30px;border-radius:5px;}
#title{width:fit-content;max-width:100%;margin:0px;}
#date{background-color:purple;padding-left:5%;padding-top:1%;padding-bottom:1%;width:fit-content;padding-right:5%;max-width:100%;box-sizing:border-box;margin:0;}
#data{max-width:100%;background-color:white;padding-left:1%;padding-right:1%;box-sizing:border-box;}
#banner{background-color:black;max-width:100%;display:flex;justify-content:center;padding-top:1%;padding-bottom:1%;transition:background-color 0.5s ease;}
#contentContainer{overflow:hidden;box-sizing:border-box;max-width:100%;overflow-wrap:break-word;}
#date,#imageContainer{
float:left;
max-width:50%;
margin:0;
overflow-wrap:break-word;
}
#date{border-right:3px solid lightgreen;border-left:3px solid red;border-top:3px solid red;}
#imageContainer{padding:1%;background-color:grey;border-right:3px solid red;border-top:3px solid lightgreen;
                border-bottom:3px solid red;transition:background-color 0.5s ease;margin-bottom:0px;
               }
#image{border-radius:100px;}
#edContainer{clear:both;background-color:yellow;max-width:100%;box-sizing:border-box;
width:fit-content;overflow-wrap:break-word;border-right:3px solid lightgreen;
border-left:3px solid skyblue;border-top:3px solid lightgreen;
padding-bottom:1%;
}
#edTitle{margin-left:5%;color:skyblue;overflow-wrap:break-word;max-width:100%;box-sizing:border-box;}
#edE{margin-left:10%;color:darkred;overflow-wrap:break-word;max-width:100%;box-sizing:border-box;margin-bottom:0%;}
#competenteContainer{background-color:black;color:white;max-width:100%;box-sizing:border-box;width:fit-content;overflow-wrap:break-word;
width:fit-content;border:3px solid lightgreen;border-top:3px solid skyblue;margin-bottom:5%;margin-right:10%;
}
#competenteTitle{margin-left:5%;max-width:100%;box-sizing:border-box;color:red;margin-top:0;}
#competentE{margin-left:10%;max-width:100%;box-sizing:border-box;}

